//** CSS selectprs */


.wrapper {
	backround-color: #7FFFD4
	width: 100%
	max-width:960px;
	margin: 0 auto;


}

h1{
	background-color: orange;
	color: white;
	display:inline;
	clear: both;
	padding: 10px;
	margin-bottom: 20px;
	border: solid 1px #ddd;
}


.instructions {
	background-color: #FFDAB9;
	width: 50%;
	clear:both;
	padding: 15px;
	margin-top: 20px;
	border: solid 1px #FFDAB9
}



.row {
	margin-bottom: 10px;
}

.random Number {
	background-color: lightgreen;

	
}

.winsLoss {

	background-color: lightblue    ;
}
.User Score {
	background-color: lightblue;
}

.Total Score {
	background-color: pink;
}